.container .example-transition{
    width: 350px;
    height: 250px;
    display: inline-block;
    border: 2px solid orchid;
}
.container .example-transition .transition{
    width: 100px;
    height: 100px;
    background-color: peru;
    transition: all 1s linear 0s;
    visibility: visible;
}
.container .example-transition .transition:hover{
    background-color: blue;
    width: 300px;
    height: 200px;
    border-radius: 25px;
}